.wrap {
    width: 800px;
    margin: 0 auto;
    @media (max-width: 500px){
        width: 100%;
        margin: 0;
    }
    .containWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        #field {
            order:1;
        }
    }
}

@keyframes beat {
    from {scale: 0.8}
    50% {scale: 1.2}
    to {scale: 0.8}
}
.blitz {
    animation: beat 1.5s infinite ease-in-out;
}
#popup.popupOn {
    left: 0;
    transition: 0.3s
}
#popup {
    display: flex;
    top: 0px;
    flex-direction: column;
    height: 100vh;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: -2000px;
    width: 100%;
    background: white;
    transition: 0.3s;
    #tg {
        text-align: center;
        h1 {  
            padding-bottom: 50px;
            font-size: 25px;
        }
    }
    div {
        text-align: left;
        width: 200px;
        margin: 10px auto;
        input {
            margin: 5px 0px;
        }
    }
    #popupClose {
        width: 100px;
        align-self: center;
        margin-top: 50px;
    }
    p {
        margin: 20px;
        text-align: center;
        font-size: 20px;
    }
}
#priceBox {
    display: flex;
    padding: 0 20px;
    align-items: center;
    order: 3;
    margin: 0 0 0 20%;
    @media (max-width: 500px){
        margin: 0;
    }
    li {
    }
    .active_btn {
        color: white!important;
        background: rgb(230, 8, 230)!important;
        box-shadow: 0px 0px 32px rgb(230, 8, 230)!important;
        border: 2px solid rgb(230, 8, 230)!important;
        transition: all 0.3s ease 0s;
    }
    button {
        border: 2px solid #939393;
        margin-left: 50px;
        padding: 10px;
        border-radius: 15px;
        color: #939393;
    }
}
#braceletSizeWrap {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 500px){
        justify-content: space-between;
    }
    li {
        padding: 10px 0px 0 0;

    }
    // .active_btn {
    //     color: white!important;
    //     background: rgb(230, 8, 230)!important;
    //     box-shadow: 0px 0px 32px rgb(230, 8, 230)!important;
    //     border: 2px solid rgb(230, 8, 230)!important;
    //     // transform: translateY(-7px);
    //     transition: all 0.3s ease 0s;
    // }
    // li:last-child {
    //     border: 2px solid #939393;
    //     margin-left: 50px;
    //     padding: 10px;
    //     border-radius: 15px;
    //     color: #939393;
    // }
}
.shadawOn {
    box-shadow: 0px 0px 32px rgb(230, 8, 230)!important;
    transition: all 0.3s ease 0s;
}
.shadowOff {
    box-shadow: none;
    // transition: 0.5s;
}
.emtyDropsStyle {
    border-radius: 50%;
    background: url(../img/emty_drops.png);
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big {
    border-radius: 50%;
}
.second {
    background-color: black;
    border-radius: 50%;
    height: 2px;
    position: absolute;
    z-index: 20;
    transform-origin: left;
}
.minut {
    background-color: black;
    border-radius: 50%;
    height: 6px;
    position: absolute;
    z-index: 20;
    transform-origin: left;
}
.hours {
    background-color: black;
    border-radius: 20%;
    height: 10px;
    position: absolute;
    z-index: 20;
    transform-origin: left;
}
.electronic {
    height: 100px;
    position: absolute;
    display: flex;
}
.ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
}
.dropsWrap {
    padding: 20px;
    order:2;
    width: 300px;
    height: 500px;
    @media (max-width: 500px){
        width: auto;
        height: auto;
        order: 4;
    }
    #dropsField {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        overflow-y: scroll;
        justify-content: space-between;
        @media (max-width: 500px){
            height: 230px;
        }
        li {
            // margin: 0 10px 5px 0px;
            text-align: center;
            width: 60px;
            font-size: 14px;
            margin: 0 15px 10px 0px;
            @media (max-width: 500px){
                margin: 0 7px 10px 0px;
            }
            ul {
                li {
                    margin: 0;
                    padding-top: 5px;
                }
            }
        }
    }
    
}
